.link{
  margin: 10px;
  text-decoration: none;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.link:hover{
  background-color: rgb(97, 97, 97);
  border-radius: 4px;
}

.nav{
  text-align: center;
  padding: 20px;
  background-color: black;
}